.btn {
  padding: 0.8rem 1.2rem;
  background-color: var(--purple1);
  color: white;
  /* border: 3px solid var(--purple1); */
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 150ms outline linear;
  transition-delay: 20ms;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
    outline: 7px solid var(--purple2);
}
