.box {
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-image: linear-gradient(180deg, #fdf2ec, #fdf2ec, white, white);
  overflow-x: hidden;
}

.heading {
  font-size: 4.5rem;
  width: 1000px;
  font-weight: bold;
  text-align: center;
}

.subHeading {
  font-size: 1.3rem;
  color: var(--grey3);
  width: 650px;
  text-align: center;
  font-weight: 500;
}

.buttonGroup {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.application {
  width: 80%;
  margin: 0 auto;
  background-color: none;
}

.application > img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
