.box {
  background-color: var(--grey1);
}

.data {
  margin: 0 auto;
  width: 80%;
  padding: 8rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  color: var(--orange2);
  font-size: 3rem;
  font-weight: bold;
}

.subHeading {
  font-size: 1.3rem;
  color: var(--grey3);
  width: 550px;
  font-weight: 500;
}

.cardGroup {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: stretch;
}

@media screen and (max-width: 1000px) {
  .data {
    align-items: center;
  }
  .heading {
    text-align: center;
  }
  .subHeading {
    text-align: center;
  }
  .cardGroup {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .subHeading {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
    width: 450px;
  }
  .subHeading {
    width: 400px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    width: 410px;
  }
  .subHeading {
    width: 360px;
  }
}

@media screen and (max-width: 400px) {
  .heading {
    width: 350px;
  }
  .subHeading {
    width: 320px;
  }
}
