.box {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.leftBox {
  width: 550px;
  background-color: var(--purple3);
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.emoji {
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem;
  width: fit-content;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.leftBox > p {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.7rem;
}

.rightBox {
  width: 600px;
  border-radius: 25px;
  border: 1px solid var(--purple3);
  height: 100%;
}

.image {
  width: 100%;
}

.image > img {
  width: 100%;
  height: auto;
}

.content {
  padding: 2rem;
}

.heading {
  color: var(--grey1);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--grey3);
  font-weight: 500;
}

@media screen and (max-width: 1500px) {
  .leftBox {
    width: 520px;
  }

  .rightBox {
    width: 550px;
  }
}

@media screen and (max-width: 1400px) {
  .leftBox {
    width: 470px;
  }

  .rightBox {
    width: 500px;
  }

  .leftBox > p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.7rem;
  }
}

@media screen and (max-width: 1300px) {
  .leftBox {
    width: 430px;
  }

  .rightBox {
    width: 480px;
  }

  .leftBox > p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.7rem;
  }
}

@media screen and (max-width: 1200px) {
  .leftBox {
    width: 390px;
  }

  .rightBox {
    width: 450px;
  }

  .leftBox > p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .leftBox {
    width: 350px;
  }

  .rightBox {
    width: 420px;
  }
}

@media screen and (max-width: 1000px) {
  .box {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .leftBox {
    width: 500px;
    text-align: center;
    align-items: center;
  }

  .rightBox {
    width: 550px;
  }

  .heading {
    text-align: center;
  }

  .text {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .leftBox {
    width: 440px;
  }

  .rightBox {
    width: 480px;
  }

  .leftBox > p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .leftBox {
    width: 350px;
  }
  .rightBox {
    width: 370px;
  }
}
