.box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem 1rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.subHeading {
  font-size: 1.3rem;
  color: var(--grey3);
  width: 650px;
  text-align: center;
  font-weight: 500;
}

.cardGroup {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 6rem;
}

@media screen and (max-width: 1000px) {
  .cardGroup {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .subHeading {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
    width: 450px;
  }
  .subHeading {
    width: 400px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    width: 410px;
  }
  .subHeading {
    width: 360px;
  }
}

@media screen and (max-width: 400px) {
  .heading {
    width: 350px;
  }
  .subHeading {
    width: 320px;
  }
}