.box {
  background-color: white;
}

.data {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
}

.text {
  font-size: 1.3rem;
  color: var(--grey3);
  width: 550px;
  font-weight: 500;
}
