.box {
  background-color: white;
  overflow-x: hidden;
}

.data {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
}

.text {
  font-size: 1.3rem;
  color: var(--grey3);
  width: 550px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .data {
    align-items: center;
  }
  .heading {
    text-align: center;
  }
  .text {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .text {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 2rem;
    width: 450px;
  }
  .text {
    width: 400px;
  }
}