* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --purple1: #8247ff;
  --purple2: #e4c8f3;
  --purple3: #ededfa;
  --purple4: #f7f8fd;
  --orange1: #fe8162;
  --orange2: #fdf2ec;
  --grey1: #1c1c1c;
  --grey2: #212121;
  --grey3: #767575;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(174, 174, 174);
  background: none;
  margin: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fe8162;
  border-radius: 5px;
}

.between-text-orange {
  color: var(--orange1);
}
